<!--

About (informational) page.

-->
<div class="row">
    <div class="background col-md-12">
        <div class="logo">
            <img src="/assets/seed.png" />
        </div>
    </div>
</div>

<div class="row">
    <div class="header col-md-12">
            <h1>Our origins.</h1>
        </div>
    </div>
</div>

<div class="container-fluid" id="video-content">
    <div class="row">
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12"></div>
        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
            <div class="embed-responsive embed-responsive-16by9" id="ellen">
                  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/r7UB4S8IF9I"></iframe>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
            <div class="embed-responsive embed-responsive-16by9" id="sfh">
                  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/HkjuEv6Wxcw"></iframe>
            </div>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12"></div>
    </div>
</div>

<style type="text/css">

    .about-content {
        margin-top: 1em;
    }
    
    .header h1 {
    }

    .background {
        padding-top: 25px;
        background-size: cover;
        background-position: center center;
        position: relative;
        height: 8vw;
        min-height: 150px;
        width: 100%;
    }
    .logo {
    }

        .logo > img {
            min-width: 250px;
            width: 27%;
            left: 50%;
            position: absolute;
            transform: translateX(-50%);
        }

    .header h1 {
        font-size: 4.15vw; /*control size of statement*/
        color: black;
        font-family: "Segoe UI Light";
        font-weight: 100;
        letter-spacing: -1px;
        text-align: center;
        opacity: 1;
        padding-bottom: 25px;
    }

    .video-content ellen{
        padding-bottom: 20px;
    }
    
    .video-content sfh{
        padding-top: 200px;
    }
</style>