<!--

Home page.

-->
<body>

    <div class="row">
        <div class="background col-md-12">
            <div class="logo">
                <img src="/assets/seed.png" />
            </div>
            <div class="statement">
                <div class="ms">
                    <h3>Growing a healthy community,<br />one seed at a time.</h3>
                </div>
            </div>
        </div>

    </div>
    <div class="row form-group home-content">
        <div class="col-md-12" id="button-donor">
            <a href="/dashboard/member" class="btn btn-info" role="button" id="dbutton">Member Entry</a>
            <a href="/dashboard/order_entry" class="btn btn-info" role="button" id="pbutton">Order Entry</a>
            
        </div>
    </div>

    <div class="row form-group home-content">
        <div class="col-lg-4 col-md-4 col-sm-4"></div>
        <div class="col-lg-4 col-md-4 col-sm-4" id="NewsletterSignup">
            <input placeholder="News Letter Signup" class="form-control" id="newslettentry" type="text">
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4"></div>
    </div>


    <div class="row form-group home-content">
        <div class="col-md-12" id="button-signup">
            <input type="button" class="btn btn-warning" value="Signup" />
        </div>
    </div>
</body>

    <style type="text/css">
        .home-content {
            margin-top: 1em;
        }

        .background {
            background: url('/assets/background.jpg') no-repeat;
            background-size: cover;
            background-position: center center;
            position: relative;
            height: 33vw;
            min-height: 250px;
            width: 100%;
        }

        .logo {
        }

            .logo > img {
                min-width: 250px;
                width: 45%;
                left: 50%;
                position: absolute;
                transform: translateX(-50%);
            }

        .statement {
            background-color: rgba(0, 0, 0, 0.4);
            margin-left: -15px;
            margin-right: -15px;
            height: 14vw; /*height of black box*/
            min-height: 100px; /*scaling for mobile*/
            width: 100%;
            position: absolute;
            bottom: 0;
        }

        .ms h3 {
            font-size: 4.15vw; /*control size of statement*/
            color: white;
            font-family: "Segoe UI Light";
            font-weight: 100;
            letter-spacing: -1px;
            text-align: center;
            opacity: 1;
        }

        #button-donor {
            padding-top: 5px;
            text-align: center;
        }

        #dbutton {
            color: white;
            padding-right: 5px;
        }
        
        #pbutton {
            color: white;
        }

        #newslettentry {
            min-width: 100%;
            text-align: center;
        }

        #button-signup {
            padding-top: 5px;
            text-align: center;
        }
    </style>