<!doctype html>
<form action="/action_page.php">
    <div class="row form-group home-content">
        <div class"col-md-12" id="ebase"></div>
    </div>
    
    <div class="row form-group home-content" id="e1">
        <div class="col-lg-4 col-md-2"></div>
        <div class="col-lg-2 col-md-4 col-sm-12">
            <input placeholder="First Name" class="form-control" id="fname" type="text" required>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-12">
            <input placeholder="Last Name" class="form-control" id="lname" type="text" required>
        </div>
        <div class="col-lg-4 col-md-2"></div>
    </div>
    <div class="row form-group home-content" id="e2">
        <div class="col-lg-4 col-md-2"></div>
        <div class="col-lg-3 col-md-4 col-sm-12">
            <input placeholder="Street Address" class="form-control" id="add" type="text" required>
        </div>
        <div class="col-lg-1 col-md-4 col-sm-12">
            <input placeholder="Appt" class="form-control" id="addsec" type="text">
        </div>
        <div class="col-lg-4 col-md-2"></div>
    </div>
    <div class="row form-group home-content" id="e3">
        <div class="col-lg-4 col-md-2"></div>
        <div class="col-lg-2 col-md-4 col-sm-12">
            <input placeholder="City" class="form-control" id="city" type="text" required>
        </div>
        <div class="col-lg-1 col-md-2 col-sm-12">
            <input placeholder="ST" class="form-control" id="state" type="text" required>
        </div>
        <div class="col-lg-1 col-md-2 col-sm-12">
            <input placeholder="ZIP" class="form-control" id="zip" type="text" required>
        </div>
        <div class="col-lg-4 col-md-2"></div>
    </div>
    <div class="row form-group home-content" id="e4">
        <div class="col-md-4"></div>
        <div class="col-md-1">
            <input type="submit">
        </div>
        <div class="col-md-3"></div>
        <div class="col-md-4"></div>
    </div>
</form>
<style type="text/css">
    
    ebase {
        background-color: black;
    }
    
    e1 {
    }
    
    e2 {
    }
    
    e3 {
        
    }
    
</style>