<!--

Nav bar.

This page currently doesn't seem to be doing anything.

-->

<!DOCTYPE html>
<html>
<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
               
                <li><%= link_to "Home", dashboard_home_path %></li>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                  
                  <li><%= link_to "About Seedfork", dashboard_about_path %></li>
                  <li><%= link_to "Contact Us", dashboard_contact_path %></li>
                  
                  <li><%= link_to "Submit Donation", dashboard_create_donations_path %></li>
                  <li><%= link_to "View Donations", dashboard_view_donations_path %></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                  
                    <li><%= link_to "Login", dashboard_login_path %></li>
                </ul>
            </div>
        </div>
    </nav>
</body>
</html>


<style type="text/css">
    #botlogo p {
       text-align: center;
    }
</style>

 <!-- 19
    <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">Seedfork</a>
21 -->

<!-- 24
    <li><a asp-area="" asp-controller="Home" asp-action="About">About</a></li>
    <li><a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a></li>
27 -->

<!-- 29
    <li><a asp-area="" asp-controller="Home" asp-action="Login">Login</a></li>
31 -->