<%= form_with(model: donation, local: true) do |form| %>
  <% if donation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(donation.errors.count, "error") %> prohibited this donation from being saved:</h2>

      <ul>
      <% donation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_area :email, id: :donation_email %>
  </div>

  <div class="field">
    <%= form.label :produce %>
    <%= form.text_area :produce, id: :donation_produce %>
  </div>

  <div class="field">
    <%= form.label :quantity %>
    <%= form.text_area :quantity, id: :donation_quantity %>
  </div>

  <div class="field">
    <%= form.label :units %>
    <%= form.text_area :units, id: :donation_units %>
  </div>

  <div class="field">
    <%= form.label :data_entry_datetime %>
    <%= form.datetime_select :data_entry_datetime, id: :donation_data_entry_datetime %>
  </div>

  <div class="field">
    <%= form.label :pickup_date %>
    <%= form.date_select :pickup_date, id: :donation_pickup_date %>
  </div>

  <div class="field">
    <%= form.label :farmer_price %>
    <%= form.text_field :farmer_price, id: :donation_farmer_price %>
  </div>

  <div class="field">
    <%= form.label :picked_up %>
    <%= form.check_box :picked_up, id: :donation_picked_up %>
  </div>

  <div class="field">
    <%= form.label :dropped_off %>
    <%= form.check_box :dropped_off, id: :donation_dropped_off %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
