<p id="notice"><%= notice %></p>

<h1>Donations</h1>

<table>
  <thead>
    <tr>
      <th>Email</th>
      <th>Produce</th>
      <th>Quantity</th>
      <th>Units</th>
      <th>Data entry datetime</th>
      <th>Pickup date</th>
      <th>Farmer price</th>
      <th>Picked up</th>
      <th>Dropped off</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @donations.each do |donation| %>
      <tr>
        <td><%= donation.email %></td>
        <td><%= donation.produce %></td>
        <td><%= donation.quantity %></td>
        <td><%= donation.units %></td>
        <td><%= donation.data_entry_datetime %></td>
        <td><%= donation.pickup_date %></td>
        <td><%= donation.farmer_price %></td>
        <td><%= donation.picked_up %></td>
        <td><%= donation.dropped_off %></td>
        <td><%= link_to 'Show', donation %></td>
        <td><%= link_to 'Edit', edit_donation_path(donation) %></td>
        <td><%= link_to 'Destroy', donation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Donation', new_donation_path %>
