<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @donation.email %>
</p>

<p>
  <strong>Produce:</strong>
  <%= @donation.produce %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @donation.quantity %>
</p>

<p>
  <strong>Units:</strong>
  <%= @donation.units %>
</p>

<p>
  <strong>Data entry datetime:</strong>
  <%= @donation.data_entry_datetime %>
</p>

<p>
  <strong>Pickup date:</strong>
  <%= @donation.pickup_date %>
</p>

<p>
  <strong>Farmer price:</strong>
  <%= @donation.farmer_price %>
</p>

<p>
  <strong>Picked up:</strong>
  <%= @donation.picked_up %>
</p>

<p>
  <strong>Dropped off:</strong>
  <%= @donation.dropped_off %>
</p>

<%= link_to 'Edit', edit_donation_path(@donation) %> |
<%= link_to 'Back', donations_path %>
