<!DOCTYPE html>
<html>
  <head>
    <title>SeedforkWebsite</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/<%= bootstrap_version %>/css/bootstrap.min.css" rel="stylesheet">
    
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header" id="test">
                </button> <a><%= link_to "Home", root_path, { :class => "navbar-brand"} %></a>
                </button> <a><%= link_to "About", dashboard_about_path, { :class => "navbar-brand"} %></a>
                </button> <a><%= link_to "Contact", dashboard_contact_path, { :class => "navbar-brand"} %></a
                </button> <a><%= link_to "Submit Donation (temp)", dashboard_create_donations_path, { :class => "navbar-brand"} %></a>
                </button> <a><%= link_to "View Donations (temp)", dashboard_view_donations_path, { :class => "navbar-brand"} %></a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                  <li><%= link_to "About Seedfork", dashboard_about_path %></li>
                  <li><%= link_to "Contact Us", dashboard_contact_path %></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                  <!--
                    <li><a asp-area="" asp-controller="Home" asp-action="Login">Login</a></li>
                  -->
                    <li><%= link_to "Login", dashboard_login_path %></li>
                </ul>
            </div>
        </div>
    </nav>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/<%= bootstrap_version %>/js/bootstrap.min.js"></script>
    <%= yield %>
  </body>
</html>

<style type="text/css">
  test {
    font.color: #808080;
  }
</style>